<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FCT_FACTORY.Properties.Settings.harmanDataBaseConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\harmanDataBase.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="FCT_FACTORY.Properties.Settings.dataBaseHmConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\dataBaseHm.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
        <add name="FCT_FACTORY.Properties.Settings.tabelaHmConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\tabelaHm.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
        <add name="FCT_FACTORY.Properties.Settings.BancoDeDadosTesteConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BancoDeDadosTeste.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
